/1.6 Guided Practice
/1.7 Performance Assessment
/1.8 Performance Assessment
/1.9 Project
/2.1 Interactive Lecture
/2.3 Guided Practice
/2.4 Guided Practice
/2.5 Performance Assessment
/2.6 Project
/3.3 Guided Practice
/3.4 Guided Practice
/3.5 Performance Assessment
/3.6 Project
/4.3 Guided Practice
/4.4 Guided Practice
/4.5 Guided Practice
/4.6 Performance Assessment
/4.7 Project
/5.3 Guided Practice
/5.4 Performance Assessment
/5.5 Project
# Course-provided starter pack (40 MB, not my work)
/SDC260 Starter Files/
/SDC260 Starter Files.zip
